body {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Montserrat'
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', serif;
}

h2 {
  font-family: 'Sacramento', serif;
}

h3 {
  font-family: 'Sacramento', serif;
}

.top-container {
  background-color: #ABC9FF;
  position: relative;
  padding: 100px;
}

.middle-container {
  background-color: #FFDEDE;
}

.bottom-container {
  background-color: #FF8B8B;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.underline {
  text-decoration: underline;
}

.steve-photo {
  margin-top: 10px;
}

.pencil {
  height: 100px;
  width: 100px;
}
